@import "~bootstrap/scss/bootstrap";

h1 {

color: black;

}

.jumbotron {
  background-image: url('../images/retrosupply-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}
.page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: none;
}